.site-header{
    background-color: var(--main-content-bg-color);
}
.top__link{
    color:var(--main-text-color);
}
.top__button{
 background-color: var(--main-content-bg-color);
    color: var(--main-text-color);
    border: none;
   
}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
//   header end
  
  .form-label{
    position: relative;
}
.form-label::before{
content: '';
position: absolute;
background-image: url("/images/icon-search-black.svg");
background-repeat: no-repeat;
width: 18px;
height: 18px; 
left:29px;
top:10px;
}
.border-0{
    background-color: var(--main-content-bg-color);
    color: var(--main-text-color);
}
.card{
background-color: var(--main-content-bg-color);
margin: 0 auto;
}
@media only screen and (max-width:540px) {
    .card{
width: 400px;
    }
}


// .row{
//     background-color: var(--main-content-bg-color);
// }
